{{ define "main" }}
  {{ $showcase := getJSON "static/showcase/showcase.json" }}

  <div class="post">
    <h2 class="post-title">{{ .Title | plainify }}</h2>
    <div class="post-content showcase">
      <div id="showcase">
        {{ range $showcase.items }}
          <div class="showcase-item" style="margin-bottom: 20px;">
            <div class="showcase-image" style="text-align: center;">
              <img loading="lazy" decoding="async" src="{{ .image }}" alt="{{ .title }}" style="display: block; width: auto; height: 200px; margin: 0 auto;">
            </div>
            <div class="showcase-info" style="border: 1px solid #ddd; padding: 10px; margin-top: 10px;">
              <h3 class="showcase-title" style="font-size: 18px; margin-bottom: 5px;"><a href="{{ .link }}">{{ .title }}</a></h3>
              <p class="showcase-platform" style="font-size: 14px; color: gray; margin-bottom: 5px;">{{ .platform }}</p>
              <p class="showcase-note" style="font-size: 14px; line-height: 1.5;">{{ .note }}</p>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
